/* Light Color Scheme */
:root,
:root[data-force-color-mode="light"] {
	color-scheme: light dark;
	--text-color: #000;
	--background-color: #fff;
	--link-color: #00f;
}

/* Dark Color Scheme */
@media (prefers-color-scheme: dark) {
	:root {
		--text-color: #fff;
		--background-color: #333;
		--link-color: #2196f3;
	}
}
:root[data-force-color-mode="dark"] {
	--text-color: #fff;
	--background-color: #333;
	--link-color: #2196f3;
}

/* Use the Color Scheme */
body {
	color: var(--text-color);
	background-color: var(--background-color);
}

a {
	color: var(--link-color);
}

/* Only show reset button if override is set */
#reset-darkmode {
	display: none;
	text-decoration: none;
	font-style: italic;
}
[data-force-color-mode] #reset-darkmode {
	display: initial;
}

/* Visually hide the label text and Inject Light/Dark Mode Icon (based on checkbox value) */
#toggle-darkmode {
	display: none;
}
#toggle-darkmode + label > span {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
#toggle-darkmode + label:after {
	font-size: 4em;
	content: "🔆";
	cursor: pointer;
}
#toggle-darkmode:checked + label:after {
	content: "🌙";
}
