   <h1>
        <%- titulo %>
    </h1>

    <div class="flex-container">
        <div class="flex-item">1 teste</div>
        <div class="flex-item">2 teste</div>
        <div class="flex-item">3 teste</div>
        <div class="flex-item">4 teste</div>
        <div class="flex-item">5 teste</div>
        <div class="flex-item">6 teste</div>
        <div class="flex-item">7 teste</div>
        <div class="flex-item">8 teste</div>
        <div class="flex-item">9 teste</div>
        <!-- <div class="flex-item">10 teste</div>
        <div class="flex-item">11 teste</div> -->
    </div>


    <div class="container">
        <article>
            <h4 class="title"> Titulo post</h4>
            <p>
                Aut voluptate ipsa sit eveniet, adipisci 
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                corrupti sunt eius et dolorum veritatis consequatur aperiam 
                cupiditate amet expedita in error! Distinctio, voluptatem quasi.
            </p>
        </article>
    </div>

    <div class="container">
        <div class="form-row">
            <div class="col-6">
                <form action="" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <fieldset>
                        <label for="id_cliente">Nome</label>
                        <input type="text" name="client" id="id_cliente">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div class="example">
        teste
    </div>

    <div class="container br">
        <p>A row is intended to contain either a <i>bloc</i> or a <i>blob</i> element.</p>
        <div class="row bg-alt br">
        </div>
    </div>

    <div class="container bg-alt">
        <div class="row">
            <div class="bloc-3-2 bg-alt pad br">bloc-3-2</div>
            <div class="bloc-5-3 bg-alt pad br">bloc-5-3</div>
            <div class="bloc-3-2-bis bg-alt pad br">bloc-3-2-bis</div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="bloc-one-third bg-alt pad br">1/3</div>
            <div class="bloc-three-fourth bg-alt pad br">3/4</div>
        </div>
    </div>
    
    <div class="aspect-box">
        <div class="aspect-box__content">
          <img src="https://static.globalnoticias.pt/dn/image.jpg?brand=DN&type=generate&guid=80e2ade3-fafd-4b2a-a590-b85f03b8805d&w=500&h=281&t=20230308000225" alt="">
        </div>
    </div>
