<% if (errors.length > 0) { %>
<div class="alert alert-daner">
 <div class="col">
    <p>
        <%= errors %> 
    </p>
 </div>
</div>
<% } %>

<% if (success.length > 0) { %>
    <div class="alert alert-daner">
     <div class="col">
        <p>
            <%= success %> 
        </p>
     </div>
    </div>
<% } %>